body {
    background-image: url("../assets/background.jpg"); /* https://www.freepik.com/free-vector/pixel-art-rural-landscape-background_49685499.htm#fromView=image_search_similar&page=1&position=0&uuid=cd1813c2-eb02-4ce6-b914-15b1b43b49be&query=farming+pixelart?log-in=google */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
  }

  h1 {
    color: white;
    font-size: 3rem;
    margin-bottom: 40px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px #00000040;
  }

  .menu {
    display: grid;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 100px;
    margin-top: 150px;
  }

  .menu button {
    background-color: white;
    border: none;
    border-radius: 16px;
    padding: 20px;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    width: 250px;
  }

  .menu button:hover {
    transform: scale(1.05);
    background-color: #e2f7d3;
  }

  footer {
    position: absolute;
    bottom: 15px;
    color: #ffffffb0;
    font-size: 0.9rem;
  }